<% @post.each do |x| %>
  <div class="white">
    <%= image_tag x.image.url(:medium) %>
     <br>
    <%= x.description %>
  </div>

    <div class="row">
      <% @post.each do |post| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


          </div>
      <% end %>
      <%= link_to 'Kommentek', comments_path %>
    </div>
<% end %>